body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url(background-image.jpg);
  background-size: cover;
  overflow-y: scroll;
}

.container {
  background-color: rgba(255, 255, 255, 0.095); /* translucent white */
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.662); /* translucent white */
  border-style: solid;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* slight shadow */
  width: 650px;
  text-align: center;
  backdrop-filter: blur(10px); /* blur effect */
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #45a049;
}

.task-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.task-list li {
  font-size: 18px;
  padding: 10px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deadline-container {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

#displayDeadline {
  font-weight: bold;
  color: #4caf50; /* Warna teks hijau */
}

.points-heading {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #888;
}

.done-button {
  background-color: #4caf50; /* Warna hijau */
  color: #fff; /* Warna teks putih */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.done-button:hover {
  background-color: #45a049; /* Warna hijau yang sedikit lebih gelap saat hover */
}

.delete-button {
  background-color: #f44336; /* Warna merah */
  color: #fff; /* Warna teks putih */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #da190b; /* Warna merah yang sedikit lebih gelap saat hover */
}
.download-button {
  background-color: #2196f3; /* Warna biru */
  color: #fff; /* Warna teks putih */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.download-button:hover {
  background-color: #0c7cd5; /* Warna biru yang sedikit lebih gelap saat hover */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
}

.image-container a {
  text-decoration: none;
}

.redeem-button {
  background-color: #2196f3; /* Warna biru */
  color: #fff; /* Warna teks putih */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}